### **Basic Python Topics**

**First Program in Python**

In [ ]:
# Display the Hello World
print("Hello, World")

Hello, World

**Variables & DataTypes**

**Variable:**
Variables are containers for storing data values.

**Data-Type:**
Data types define the kind of data a variable can hold, such as integers, floats, strings, and more, determining what operations can be performed on the data.

`There are so many data-types in python:`
*   **Text-Type: String**
*   **Numeric-Types: integer, float , complex**
*   **Sequence Types: List , Tuple , Range**
*   **Mapping Type: Dictionary**
*   **Set Type: set**
*   **Boolean Type: Bool**

`For more details, such as checking the syntax of variables & data-types, feel free to explore the links provided below:`

https://www.w3schools.com/python/python_variables.asp  `(Doc For the Variable Information.)`

https://www.w3schools.com/python/python_datatypes.asp `(Doc For the Data-Types Information.)`

https://www.youtube.com/watch?v=LKFrQXaoSMQ `(Youtube Video For the Variable and Data-Types.)`

In [ ]:
# Define the Variable for the most important DataType

integerVar = 10
floatVar   = 20.1
stringVar  = "Usama Husnain"
charVar    = 'A'
boolVar    = True

# Display the Type of each variable
print(f"Here is the type of Integer Varaiable : {type(integerVar)}")
print(f"Here is the type of Float   Varaiable : {type(floatVar)}")
print(f"Here is the type of String  Varaiable : {type(stringVar)}")
print(f"Here is the type of Character Varaiable : {type(charVar)}")

Here is the type of Integer Varaiable : <class 'int'>
Here is the type of Float   Varaiable : <class 'float'>
Here is the type of String  Varaiable : <class 'str'>
Here is the type of Character Varaiable : <class 'str'>

**Expressions:**
An expression is a combination of operators and operands that is interpreted to produce some other value.

`There are many types of expressions in the Python:`

*   **Mathematical Expression**
*   **Logical      Expression**
*   **Comparison   Expression**
*   **Membership   Expression**
*   **Identity     Exression**
*   **Bitwise      Expression**
*   **Tenary(Conditional) Expression**

`For more details, such as checking the syntax of expressions, feel free to explore the links provided below:`

https://docs.python.org/3/reference/expressions.html `(Doc For the Expressions.)`

In [ ]:
# Basic Mathematical Expressions

# Define Some Integer Variable with some Value
x = 10
y = 5

# 1. Addition
result = x + y
print(f"The Addition of {x} and {y} is : {result}\n")

# 2. Subtraction
result = x - y
print(f"The Subtraction of {x} and {y} is : {result}\n")

# 3. Multiplication
result = x * y
print(f"The Multiplication of {x} and {y} is : {result}\n")

# 4. Division
result = x / y
print(f"The Division of {x} and {y} is : {result}\n")

# 5. Exponent
result = x ** y
print(f"The Exponent of {x} and {y} is : {result}\n")

# 6. Modulus
result = x % y
print(f"The Modulus of {x} and {y} is : {result}\n")

# 7. Floor Division
result = x // y
print(f"The Floor Division of {x} and {y} is : {result}\n")

The Addition of 10 and 5 is : 15

The Subtraction of 10 and 5 is : 5

The Multiplication of 10 and 5 is : 50

The Division of 10 and 5 is : 2.0

The Exponent of 10 and 5 is : 100000

The Modulus of 10 and 5 is : 0

The Floor Division of 10 and 5 is : 2

In [ ]:
# Basic Logical Expressions

# Define some boolean variable with some value
x = True
y = False

# 1. Logical AND
result = x and y
print(f"The Logical AND of {x} and {y} is : {result}\n")

# 2. Logical OR
result = x or y
print(f"The Logical OR of {x} and {y} is : {result}\n")

# 3. Logical NOT
result = not x
print(f"The Logical NOT of {x} is : {result}\n")

The Logical AND of True and False is : False

The Logical OR of True and False is : True

The Logical NOT of True is : False

In [ ]:
# Basic Comparison Expression

# Define Some Integer Variable with some Value
x = 10
y = 5

# 1. Equality
result = x == y
print(f"{x} is equal to {y} : {result}\n")

# 2. Not equal
result = x != y
print(f"{x} is not equal to {y} : {result}\n")

# 3. Greater than
result = x > y
print(f"{x} is Greater than {y} : {result}\n")

# 4. Less than
result = x < y
print(f"{x} is Less than {y} : {result}\n")

# 5. Greater than or equal to
result = x >= y
print(f"{x} is Greater than or Equal to {y} : {result}\n")

# 6. Less than or equal to
result = x <= y
print(f"{x} is Less than or Equal to {y} : {result}\n")

10 is equal to 5 : False

10 is not equal to 5 : True

10 is Greater than 5 : True

10 is Less than 5 : False

10 is Greater than or Equal to 5 : True

10 is Less than or Equal to 5 : False

In [ ]:
# Basic Membership Expressions

# 1. Define the List with some random data
myList = [10 , 20 , 30 , 40 , 50]

# Now Checking the Element in the List

# 1.1. Check 5 in the List or not
result = 5 in myList
print(f"{5}  in the List : {result}\n")

# 1.2. Check 10 in the List or not
result = 10 in myList
print(f"{10} in the List : {result}\n")

print("----------------------------\n")

# 2. Define the String Variable with some random Data
myString = "Msater Data Science Class"

# Now Checking the Element in the String
result = "us" in myString
print(f"us in the String : {result}\n")

result = "data" in myString
print(f"data in the String : {result}\n")

result = "Science" in myString
print(f"Science in the String : {result}\n")

5  in the List : False

10 in the List : True

----------------------------

us in the String : False

data in the String : False

Science in the String : True

In [ ]:
# Basic Identity Expressions

# Define the 2 Integer Type List with some random Data
x = [1 , 2 , 3 , 4 , 5]
y = [1 , 2 , 3 , 4 , 5]
z = x


# Now Checking the 2 Variables Data points  to the Same Object
result = x is z
print(f"x & z is same object in the Memory : {result}\n")

result = x is y
print(f"x & y is same object in the Memory : {result}\n")

x & z is same object in the Memory : True

x & y is same object in the Memory : False

In [ ]:
# Basic Bitwise Expressions

# Define Some Integer Variable with some random Data

x = 10   # Binary: 1010
y = 4    # Binary: 0100

# Bitwise AND
result = x & y
print(f"Bitwise AND Output of {x} and {y} is : {result}\n")

# Bitwise OR
result = x | y
print(f"Bitwise OR Output of {x} and {y} is : {result}\n")

# Bitwise XOR
result = x ^ y
print(f"Bitwise XOR Output of {x} and {y} is : {result}\n")

# Bitwise NOT
result = ~x
print(f"Bitwise NOT Output of {x} is : {result}\n")

# Bitwise Left Shift
result = x << 2
print(f"Bitwise Left Shift Output of {x} is : {result}\n")

# Bitwise Right Shift
result = x >> 2
print(f"Bitwise Right Shift Output of {x} is : {result}\n")

Bitwise AND Output of 10 and 4 is : 0

Bitwise OR Output of 10 and 4 is : 14

Bitwise XOR Output of 10 and 4 is : 14

Bitwise NOT Output of 10 is : -11

Bitwise Left Shift Output of 10 is : 40

Bitwise Right Shift Output of 10 is : 2

In [ ]:
# Tenary (Conditional) Expression

# Define some Integer Variable with some random Data
x = 10
y = 20

# Tenary Expression (inline - ifelse)
result = "x is greater" if x > y else "y is greater"
print(f"The Tenary Expression Output is : {result}\n")

The Tenary Expression Output is : y is greater

**String Data-Type Most Important Operations:**
In the cells below, I've discussed the string data type, how to use built-in string functions, different methods to display strings, and how to use the slicing method to extract substrings. I have also included links to YouTube videos and documentation for further understanding. If you're interested, feel free to check out the links below.

https://docs.python.org/3/library/stdtypes.html#string-methods `(For the built-in functions of the string data type.)`

https://www.youtube.com/watch?v=tb6EYiHtcXU  `(For the built-in functions of the string data type.)`

https://www.youtube.com/watch?v=ErgSKwpEEDs   `(Youtube Video For the Slicing Method of the string data type.)`

In [ ]:
# Define the String Variable with random Data for the String Methods
myString = "master class"


# 1. len   --> Find out the Length of the String
result = len(myString)
print(f"The length of this string <{myString}> is : {result}\n")

# 2. Capitalize    --> Return a copy of the string with its first character capitalized and the rest lowercased.
result = myString.capitalize()
print(f"The Capitalize Method Output is : {result}\n")

# 3. format        --> If you want to add the numerical data in the strig.
result = "In which semester is the Data Science course offered : {0}".format(1)
print("Here is the resultant string : " , result , "\n")

# 4. upper      --> Convert to the all Character in the Upper Case
result = myString.upper()
print(f"The upper Method Output is : {result}\n")

# 5. lower      --> Convert to the all character in the Lower Case
result = myString.lower()
print(f"The lower Method Output is : {result}\n")

# 6. count      --> Count the occurrences of the specific character
result = myString.count('s')
print(f"The count Method Output is : {result}\n")

# 7. isdigit    --> Return the True if the string character hold any digit otherwise False
result = myString.isdigit()
print(f"The isdigit Method Output is : {result}\n")

# 8. isalpha    -->
result = myString.isalpha()
print(f"The isalpha Method Output is : {result}\n")

The length of this string <master class> is : 12

The Capitalize Method Output is : Master class

Here is the resultant string :  In which semester is the Data Science course offered : 1

The upper Method Output is : MASTER CLASS

The lower Method Output is : master class

The count Method Output is : 3

The isdigit Method Output is : False

The isalpha Method Output is : False

In [ ]:
# Display the String Data

# 1. (Method No 1)

print("Method No 1 \n")
for data in myString:
  # Display the Data
  print(data , end = " ")

print("\n_________________________\n")


# 2. (Method No 2)

print("Method No 2 \n")
for index in range(0, len(myString)):
  # Display the Data
  print(myString[index] , end = " ")

print("\n_________________________\n")


# 3. (Method No 3)

print("Method No 3 \n")
for index , character in enumerate(myString):
  print(f"Index : {index} , Character : {character}")

Method No 1

m a s t e r   c l a s s
_________________________

Method No 2

m a s t e r   c l a s s
_________________________

Method No 3

Index : 0 , Character : m
Index : 1 , Character : a
Index : 2 , Character : s
Index : 3 , Character : t
Index : 4 , Character : e
Index : 5 , Character : r
Index : 6 , Character :
Index : 7 , Character : c
Index : 8 , Character : l
Index : 9 , Character : a
Index : 10 , Character : s
Index : 11 , Character : s

In [ ]:
# Display a substring from the actual string using the slicing method

myString = "master class"

# 1. Extract the master from the String
result = myString[:6]
print(f"Here is the extracted sub-string : {result}\n")

# 2. Extract the class from the String
result = myString[7:]
print(f"Here is the extracted sub-string : {result}\n")

# 3. Reverse the string
result = myString[::-1]
print(f"Here is the reversed string : {result}\n")

# 4. Display the every Second Character from the String
result = myString[::2]
print(f"Here is the every Second Character from the String : {result}\n")

# 5. Extract the <aster> from the String
result = myString[1:6]
print(f"Here is the extracted sub-string : {result}")

Here is the extracted sub-string : master

Here is the extracted sub-string : class

Here is the reversed string : ssalc retsam

Here is the every Second Character from the String : mse ls

Here is the extracted sub-string : aster

**Conditional Statements:**
Conditional statements allow you to control the logical flow of programs in a clean and compact way.

`There are so many Conditional Statement in the Python:`

*   **if statement**
*   **if-esle statement**
*   **elif statement**
*   **match statement**
*   **nested if-else statement**
*   **Tenory (Conditional) Operator**

`For more details, such as checking the syntax of each statement, feel free to explore the links provided below:`

https://www.freecodecamp.org/news/python-if-else-statement-conditional-statements-explained/ `(Doc For the Conditional Statements.)`

https://realpython.com/python-conditional-statements/ `(Doc For the Conditional Statements.)`

`if statement:`
In the following two cells, I've provided two examples of if statements.

`For more details, such as checking the syntax of if statement, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=FvMPfrgGeKs `(Youtube Video For the If Statement.)`

In [ ]:
# 1. Question No 1 (Write a Python program that checks if a number is positive. If it is, print "The number is positive)
number = int(input("Enter the Number==>"))

if number >= 0:
  print("\nPositive Number\n")

print("Program End")

Enter the Number==>67

Positive Number

Program End

In [ ]:
# 2. Question No 2 (Create a Python program that checks if a variable x is greater than 10. If true, print "x is greater than 10)
x = int(input("\nEnte any Number==>"))

if x > 10:
  print("\nx is greater than 10\n")

print("Program End")

Ente any Number==>8
Program End

`if-else statement:`
In the following two cells, I've provided two examples of if-else statements.

`For more details, such as checking the syntax of if-else statement, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=FvMPfrgGeKs `(Youtube Video For the If-Else Statement.)`

In [ ]:
# 1. Question No 1 (Write a code that takes an integer age as input and prints "Adult" if the age is 18 or older, and "Minor" otherwise.)
age = int(input("Enter your Age==>"))

if age >= 18:
  print("\nAdult\n")
else:
  print("\nMinor\n")

print("Program End")

Enter your Age==>23
Adult

Program End

In [ ]:
# 2. Question No 2 (Write a that takes an integer num as input and returns True if the number is even, and False otherwise.)
num = int(input("Enter any Number==>"))

if num % 2 == 0:
  print("\nTrue\n")
else:
  print("\nFalse\n")

print("Program End")

Enter any Number==>90

True

Program End

`elif statement:`
In the following two cells, I've provided two examples of elif statements.

`For more details, such as checking the syntax of elif statement, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=FvMPfrgGeKs `(Youtube Video For the elif Statement.)`

In [ ]:
# 1. Question No 1 (Write Python code that takes an integer age and returns a string representing the category based on the following criteria:

# If the age is 0 to 2 years old, return "Infant"
# If the age is 3 to 12 years old, return "Child"
# If the age is 13 to 19 years old, return "Teenager"
# If the age is 20 to 64 years old, return "Adult"
# If the age is 65 years or older, return "Senior")
age = int(input("Enter the Age==>"))

if 0 <= age <= 2:
    print("\nInfant\n")
elif 3 <= age <= 12:
    print("\nChild\n")
elif 13 <= age <= 19:
    print("\nTeenager\n")
elif 20 <= age <= 64:
    print("\nAdult\n")
else:
  print("\nSenior\n")

print("Program End\n")

Enter the Age==>2

Infant

Program End

In [ ]:
# 2. Question No 2 (Write a Python code that returns advice based on the temperature in Celsius:

# Below 0°C: "Freezing cold"
# 0°C to 10°C: "Cold"
# 11°C to 20°C: "Cool"
# 21°C to 30°C: "Comfortable"
# Above 30°C: "Hot")
temperature = float(input("Enter the Temperarure in C==>"))

if temperature < 0:
    advice = "Freezing cold"
elif 0 <= temperature <= 10:
    advice = "Cold"
elif 11 <= temperature <= 20:
    advice = "Cool"
elif 21 <= temperature <= 30:
    advice = "Comfortable"
else:
    advice = "Hot"

print(f"\n{advice}\n")
print("Program End")

Enter the Temperarure in C==>3

Cold

Program End

`match statement:`
In the following two cells, I've provided two examples of match statements.

`For more details, such as checking the syntax of match statement, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=L7tT0NZF-Ag `(Youtube Video For the Match Statement.)`

In [ ]:
# 1. Question No 1 (Write Python code that takes an integer age and returns a string representing the category based on the following criteria:

# If the age is 0 to 2 years old, return "Infant"
# If the age is 3 to 12 years old, return "Child"
# If the age is 13 to 19 years old, return "Teenager"
# If the age is 20 to 64 years old, return "Adult"
# If the age is 65 years or older, return "Senior")
age = int(input("Enter the Age==>"))

match age:
  case age if 0 <= age <= 2:
    print("\nInfant\n")
  case age if 3 <= age <= 12:
    print("\nChild\n")
  case age if 13 <= age <= 19:
    print("\nTeenager\n")
  case age if 20 <= age <= 64:
    print("\nAdult\n")
  case age if age >= 65:
    print("\nSenior\n")
  case _:
    print("\nInvalid age\n")

print("Program End\n")

Enter the Age==>-1

Invalid age

Program End

In [ ]:
# 2. Question No 2 (Write a Python code that returns advice based on the temperature in Celsius:

# Below 0°C: "Freezing cold"
# 0°C to 10°C: "Cold"
# 11°C to 20°C: "Cool"
# 21°C to 30°C: "Comfortable"
# Above 30°C: "Hot")
temperature = float(input("Enter the Temperarure in C==>"))

match temperature:
  case temp if temp < 0:
    print("\nFreezing cold\n")
  case temp if 0 <= temp <= 10:
    print("\nCold\n")
  case temp if 11 <= temp <= 20:
    print("\nCool\n")
  case temp if 21 <= temp <= 30:
    print("\nComfortable\n")
  case temp if temp > 30:
    print("\nHot\n")

print("Program End\n")

Enter the Temperarure in C==>90

Hot

Program End

`nested if-else statement:`
In the following two cells, I've provided two examples of nested if-else statements.

`For more details, such as checking the syntax of nested if-else statement, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=dePS_B7Loxs `(Youtube Video For the Match Statement.)`

In [ ]:
# 1. Question No 1 (Write Python code that checks if a person is eligible to vote and drive based on their age:

# If the age is 18 or older, print "Eligible to vote".
# If the age is between 16 and 17 (inclusive), print "Eligible to drive but not vote".
# If the age is below 16, print "Not eligible to vote or drive")
age = int(input("Enter your Age==>"))

if age >= 18:
  print("\nEligible to vote\n")
else:
  if 16 <= age <= 17:
    print("\nEligible to drive but not vote\n")
  else:
    print("\nNot eligible to vote or drive\n")

print("Program End\n")

Enter your Age==>45

Eligible to vote

Program End

In [ ]:
# 2. Question No 2 (check if a person qualifies for a special discount based on their age and membership status:

# If the person is 65 or older, print "Senior Discount".
# If the person is between 18 and 64 (inclusive) and is a member, print "Member Discount".
# If the person is between 18 and 64 (inclusive) and is not a member, print "No Discount".)
age = int(input("Enter your Age==>"))
is_member = True

if age >= 65:
  print("\nSenior Discount\n")
elif 18 <= age <= 64:
  if is_member:
    print("\nMember Discount\n")
  else:
    print("\nNo Discount\n")

print("Program End\n")

Enter your Age==>19

Member Discount

Program End

`Tenory (Conditional) Operator:`
In the following two cells, I've provided two examples of Tenory (Conditional) Operator.

`For more details, such as checking the syntax of Tenory (Conditional) Operator, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=TYyKQBC4bwE `(Youtube Video For the Tenory (Conditional) Operator.)`

In [ ]:
# 1. Question No 1 (Checking if a number is even or odd using the ternary operator)
number = int(input("Enter any Number==>"))

result = "Even" if number % 2 == 0 else "Odd"
print(f"\n{number} is {result} :\n")

Enter any Number==>4

4 is Even

In [ ]:
# 2. Question No 2 (Determining eligibility for a senior discount based on age using the ternary operator)
age = int(input("Enter your Age==>"))

result = "Eligible" if age >= 65 else "Not Eligible"
print(f"\n{result} for Senior Discount :\n")

Enter your Age==>45

Not Eligible for Senior Discount :

**Loop:**
loop is a control structure that allows for the repeated execution of a block of code based on a condition or a sequence of values. Loops are used to automate repetitive tasks and iterate over data collections efficiently.

`There are 2 Types of Loop in Python:`
*   **For Loop**
*   **While Loop**
*   **Nested Loop**

`For more details, such as checking the syntax of each loop, feel free to explore the links provided below:`

https://docs.python.org/3/tutorial/controlflow.html#for-statements  `(Doc for the For Loop.)`

https://www.learnpython.org/en/Loops  `(Doc for the For & While.)`

`for loop:`
In the following two cells, I've provided two examples of for loop.

`For more details, such as checking the syntax of for loop, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=KWgYha0clzw `(Youtube Video For the for loop.)`

In [ ]:
# 1. Question No 1 (Write a Python Code for loop that iterates over a list of numbers and prints the square of each number.)

myList = [2 , 3 , 4 , 5 , 6]

# Sqauare the each element from the List
for index in range(0,len(myList)):
  print(f"The Square of {myList[index]} is : {myList[index] ** 2}\n")

The Square of 2 is : 4

The Square of 3 is : 9

The Square of 4 is : 16

The Square of 5 is : 25

The Square of 6 is : 36

In [ ]:
# 2. Question No 2 (Write a Python Code for loop that calculates and prints the sum of all elements in a list of integers.)

myList = [10 , 20 , 30 , 40 , 50]

# Calculate the Sum of all elements
sum = 0
for data in myList:
  sum += data
print(f"The Sum of all elements in the List is : {sum}\n")

The Sum of all elements in the List is : 150

`while loop:`
In the following two cells, I've provided two examples of while loop.

`For more details, such as checking the syntax of while loop, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=rRTjPnVooxE `(Youtube Video For the while loop.)`

In [ ]:
# 1. Question No 1 (Write a Python Code for loop that iterates over a list of numbers and prints the square of each number.)

myList = [2 , 3 , 4 , 5 , 6]

# Sqauare the each element from the List
index = 0
while(index < len(myList)):
  print(f"The Square of {myList[index]} is : {myList[index] ** 2}\n")
  index += 1

The Square of 2 is : 4

The Square of 3 is : 9

The Square of 4 is : 16

The Square of 5 is : 25

The Square of 6 is : 36

In [ ]:
# 2. Question No 2 (Write a Python Code for loop that calculates and prints the sum of all elements in a list of integers.)

myList = [10 , 20 , 30 , 40 , 50]

# Calculate the Sum of all elements
sum = 0
index = 0
while(index < len(myList)):
  sum += myList[index]
  index += 1
print(f"The Sum of all elements in the List is : {sum}\n")

The Sum of all elements in the List is : 150

`Nested Loop:`
In the following two cells, I've provided two examples of nested loop.

`For more details, such as checking the syntax of nested loop, feel free to explore the links provided below:`

https://www.youtube.com/watch?v=APWy6Pc83gE `(Youtube Video For the nested loop.)`

In [ ]:
# 1. Question No 1 (Write a Python program using nested loops to print a  grid of numbers, where each cell contains its row number.)
row = int(input("Enter the Row==>"))
col = int(input("Enter the Col==>"))

for i in range(row):
  for j in range(col):
    print(i, end=' ')
  print()

Enter the Row==>3
Enter the Col==>3
0 0 0
1 1 1
2 2 2

In [ ]:
# 2. Question No 2 (Write a Python program using nested loops to print the following pattern

# *
# * *
# * * *
# * * * *
# * * * * *)
row = int(input("Enter the Row==>"))

# Display the Pattern
for i in range(row):
  for j in range(i + 1):
    print('*', end=' ')
  print()

Enter the Row==>4
*
* *
* * *
* * * *

**Function:**
A function is a block of code that runs only when it is called. It can take input data, known as parameters, and can return data as a result. Functions help organize code and make it reusable and manageable.

In Python a function is defined using the `def keyword`.

In the following two cells, I've provided two examples of functions.

`For more details, such as checking the syntax of function, feel free to explore the links provided below:`

https://www.w3schools.com/python/python_functions.asp `(Doc For the Function.)`

https://www.easypythondocs.com/functions.html `(Doc For the Function.)`

https://www.youtube.com/watch?v=89cGQjB5R4M `(Youtube Video For the Function.)`

In [ ]:
# 1. Question No 1 (Write a Python function is_even(n) that takes an integer n and returns True if the number is even, and False otherwise.)
def is_even(n):
  if n % 2 == 0:
    return True
  else:
    return False

number = int(input("Enter any Number==>"))
result = is_even(number)
print(f"\n{number} is Even : {result}\n")

Enter any Number==>3

3 is Even : False

In [ ]:
# 2. Question No 2 (Write a function find_max(lst) that takes a list of numbers as an argument and returns the largest number in the list. )
def find_max(lst):
  max = lst[0]
  for data in lst:
    if data > max:
      max = data
  return max

myList = [10 , 20 , 30 , 40 , 50]
result = find_max(myList)
print(f"\nThe Maximum Number in the List is : {result}\n")

The Maximum Number in the List is : 50

**List:**
A list stores multiple items in a single variable. It's ordered, changeable, and allows duplicates, created using square brackets `[]`.

`For more details, such as checking the syntax of List, feel free to explore the links provided below:`

https://www.w3schools.com/python/python_lists.asp `(Doc For the List.)`

https://docs.python.org/3/tutorial/datastructures.html `(Doc For the List.)`

https://www.youtube.com/watch?v=gOMW_n2-2Mw  `(Youtube Video For the List)`

In [ ]:
# 1. Creating the List
myList = [10 , True , 50 , "Master Class" , 4.7]

# 2. Get the Length of List
print(f"Here is the Length of the List : {len(myList)}")
print("____________________________________________\n")

# 3. Accessing Elements by Index
print(f"Here is the 2nd Index Data : {myList[2]}\n")
print(f"Here is the 3rd Index Data : {myList[3]}")
print("____________________________________________\n")

# 4. Modifying Elements
myList[1] = False
myList[-1] = 6.3
print(f"Here is the 1st Index Data After Modifying : {myList[1]}\n")
print(f"Here is the 5th Index Data After Modifying : {myList[-1]}")
print("____________________________________________\n")

# 5. Slicing in List
print(f"Display the 2nd to 4th Index Data : {myList[2:5]}\n")
print(f"Display the Data after each Second data : {myList[::2]}")
print("____________________________________________")

Here is the Length of the List : 5
____________________________________________

Here is the 2nd Index Data : 50

Here is the 3rd Index Data : Master Class
____________________________________________

Here is the 1st Index Data After Modifying : False

Here is the 5th Index Data After Modifying : 6.3
____________________________________________

Display the 2nd to 4th Index Data : [50, 'Master Class', 6.3]

Display the Data after each Second data : [10, 50, 6.3]
____________________________________________

In [ ]:
# Displaying the List with Different Different Methods

# 1. Method No 1
print(myList)
print("____________________________________________\n")

# 2. Method No 2
for data in myList:
  print(data)
print("____________________________________________\n")

# 3. Method No 3
for index in range(0,len(myList)):
  print(myList[index])
print("____________________________________________\n")

# 4. Method No 4
for index , data in enumerate(myList):
  print(index , " : " , data)
print("____________________________________________\n")

# 5. Method No 5 (List Comprehension)
[print(data) for data in myList]
print("____________________________________________\n")

# 6. Method No 6 (List Comprehension)
[print(index , " : " , data) for index , data in enumerate(myList)]
print("____________________________________________\n")

[10, False, 50, 'Master Class', 6.3]
____________________________________________

10
False
50
Master Class
6.3
____________________________________________

10
False
50
Master Class
6.3
____________________________________________

0  :  10
1  :  False
2  :  50
3  :  Master Class
4  :  6.3
____________________________________________

10
False
50
Master Class
6.3
____________________________________________

0  :  10
1  :  False
2  :  50
3  :  Master Class
4  :  6.3
____________________________________________

In [ ]:
# Built-In Functions for the List

# Display the List
myList = [10 , True , 50 , "Master Class" , 6.3]
print(myList)
print("____________________________________________\n")

# 1. append ( Adds an element to the end of the list)
myList.append("Data Science Course")
print(f"Here is the Data of List after append the new Data : \n{myList}")
print("____________________________________________\n")

# 2. insert ( Inserts an element at a specific position)
myList.insert(2 , "1st Smster")
print(f"Here is the Data of List after insert the new Data : \n{myList}")
print("____________________________________________\n")

# 3. index ( Returns the index of the first element with the specified value)
index = myList.index(6.3)
print(f"Here is the Index of 6.3 : {index}")
print("____________________________________________\n")

# 5. count ( Returns the number of times an element appears in the list)
count = myList.count(10)
print(f"Here is the Count of 10 : {count}")
print("____________________________________________\n")

# 6. pop ( Removes and returns the element at a specific position (or the last element if no index is specified))
myList.pop()
print(f"Here is the Data of List after pop the last Data : \n{myList}")
print("____________________________________________\n")

# 7. remove ( Removes the first occurrence of the specified value)
myList.remove("1st Smster")
print(f"Here is the Data of List after remove the Data : \n{myList}")
print("____________________________________________\n")

# 8. reverse ( Reverses the order of the elements in the list)
myList.reverse()
print(f"Here is the Data of List after reverse the Data : \n{myList}")
print("____________________________________________\n")

# 9. clear ( Removes all elements from the list)
myList.clear()
print(f"Here is the Data of List after clear the Data : \n{myList}")
print("____________________________________________\n")

[10, True, 50, 'Master Class', 6.3]
____________________________________________

Here is the Data of List after append the new Data :
[10, True, 50, 'Master Class', 6.3, 'Data Science Course']
____________________________________________

Here is the Data of List after insert the new Data :
[10, True, '1st Smster', 50, 'Master Class', 6.3, 'Data Science Course']
____________________________________________

Here is the Index of 6.3 : 5
____________________________________________

Here is the Count of 10 : 1
____________________________________________

Here is the Data of List after pop the last Data :
[10, True, '1st Smster', 50, 'Master Class', 6.3]
____________________________________________

Here is the Data of List after remove the Data :
[10, True, 50, 'Master Class', 6.3]
____________________________________________

Here is the Data of List after reverse the Data :
[6.3, 'Master Class', 50, True, 10]
____________________________________________

Here is the Data of List after clear the Data :
[]
____________________________________________

**Dictionary:**
A dictionary in Python stores data in key-value pairs, is ordered, changeable, and disallows duplicate keys. It's created using curly brackets `{}`, with each key linked to a value.

`For more details, such as checking the syntax of Dictionary, feel free to explore the links provided below:`

https://www.w3schools.com/python/python_dictionaries.asp `(Doc For the Dictionary)`

https://docs.python.org/3/tutorial/datastructures.html#dictionaries `(Doc For the Dictionary)`

https://www.youtube.com/watch?v=MZZSMaEAC2g `(Youtube Video For the Dictionary)`

In [ ]:
# 1. Creating the Dictionary
myDict = {
    "name" : "usama",
    "degree" : "master",
    "age" : 23,
    "course" : "datascience"
}

# 2. Get the Length of Dictionary
print(f"Here is the Length of the Dictionary : {len(myDict)}")
print("____________________________________________\n")

# 3. Accessing Values by Keys
print("Here is the Value of age : {}".format(myDict["age"]))
print("Here is the Value of degree : {}".format(myDict["degree"]))
print("____________________________________________\n")

# 4. Modifying Elements by Keys
myDict["age"] = 24
myDict["degree"] = "phd"
print("Here is the Value of age after modifying : {}".format(myDict["age"]))
print("Here is the Value of degree after modifying : {}".format(myDict["degree"]))
print("____________________________________________\n")

# 5. Adding new Key-Value Pair
myDict["Smster"] = "1st"
print("Here is the new Dictionary after adding new key-value : \n{}".format(myDict))
print("____________________________________________\n")

Here is the Length of the Dictionary : 4
____________________________________________

Here is the Value of age : 23
Here is the Value of degree : master
____________________________________________

Here is the Value of age after modifying : 24
Here is the Value of degree after modifying : phd
____________________________________________

Here is the new Dictionary after adding new key-value :
{'name': 'usama', 'degree': 'phd', 'age': 24, 'course': 'datascience', 'Smster': '1st'}
____________________________________________

In [ ]:
# Dsiplaying the Values of Dictionary

# 1. Method No 1
print(myDict)
print("____________________________________________\n")

# 2. Method No 2
for key in myDict:
  print(key , " : " , myDict[key])
print("____________________________________________\n")

# 3. Method No 3 (Only Display Values)
for value in myDict.values():
  print(value)
print("____________________________________________\n")

# 4. Method No 4 (Only Display Keys)
for key in myDict.keys():
  print(key)
print("____________________________________________\n")

# 5. Method No 5
for key , value in myDict.items():
  print(key , " : " , value)
print("____________________________________________\n")

{'name': 'usama', 'degree': 'phd', 'age': 24, 'course': 'datascience', 'Smster': '1st'}
____________________________________________

name  :  usama
degree  :  phd
age  :  24
course  :  datascience
Smster  :  1st
____________________________________________

usama
phd
24
datascience
1st
____________________________________________

name
degree
age
course
Smster
____________________________________________

name  :  usama
degree  :  phd
age  :  24
course  :  datascience
Smster  :  1st
____________________________________________

In [ ]:
# Built-In Functions for the Dictionary

# Display the Dictionary
myDict = {
    "name" : "usama",
    "degree" : "master",
    "age" : 23,
    "course" : "datascience"
}
print(myDict)
print("____________________________________________\n")

# 1. Keys ( Returns a view object that displays a list of all the keys in the dictionary)
print(f"Here is the all keys of this Dictionary : \n{myDict.keys()}")
print("____________________________________________\n")

# 2. Values ( Returns a view object that displays a list of all the values in the dictionary)
print(f"Here is the all values of this Dictionary : \n{myDict.values()}")
print("____________________________________________\n")

# 3. items ( Returns a view object that displays a list of the key-value pairs in the dictionary)
print(f"Here is the all items of this Dictionary : \n{myDict.items()}")
print("____________________________________________\n")

# 5. copy ( Returns a shallow copy of the dictionary)
newDict = myDict.copy()
print(f"Here is the copy of this Dictionary : \n{newDict}")
print("____________________________________________\n")

# 6. pop ( Removes the element with the specified key)
myDict.pop("age")
print(f"Here is the Data of Dictionary after pop the Data : \n{myDict}")
print("____________________________________________\n")

# 7. popitem ( Removes the last inserted key-value pair)
myDict.popitem()
print(f"Here is the Data of Dictionary after popitem the Data : \n{myDict}")
print("____________________________________________\n")

# 8. clear ( Removes all the elements from the dictionary)
myDict.clear()
print(f"Here is the Data of Dictionary after clear the Data : \n{myDict}")
print("____________________________________________\n")

**Tuple:**
A tuple in Python stores multiple items in a single variable. It is an ordered, allow dupliacte values and unchangeable collection, meaning its contents cannot be modified after creation. Tuples are written using round brackets `()`.

`For more details, such as checking the syntax of Tuple, feel free to explore the links provided below:`

https://www.w3schools.com/python/python_tuples.asp `(Doc For the Tuple)`

https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences `(Doc For the Tuple)`

https://www.youtube.com/watch?v=gOMW_n2-2Mw `(Youtube Video Fpr the Tuple)`

In [ ]:
# 1. Creating the Tuple
myTuple = (1 , "usama" , True , "master class" , 4)

# 2. Get the Length of the Tuple
print(f"Here is the Length of the Tuple : {len(myTuple)}")
print("____________________________________________\n")

# 3. Accessing Elements by Index
print(f"Here is the 2nd Index Data : {myTuple[2]}")
print("____________________________________________\n")

# 4. Slicing in Tuple
print(f"Display the 2nd to 4th Index Data : {myTuple[2:5]}\n")
print(f"Display the Data after each Second data : {myTuple[::2]}")
print("____________________________________________\n")

# 5. Modfiying the Element
# myTuple[2] = False    # Get Error (Because we cant modify the Element)

Here is the Length of the Tuple : 5
____________________________________________

Here is the 2nd Index Data : True
____________________________________________

Display the 2nd to 4th Index Data : (True, 'master class', 4)

Display the Data after each Second data : (1, True, 4)
____________________________________________

In [ ]:
# Displaying the Tuple with Different Different Methods

# 1. Method No 1
print(myTuple)
print("____________________________________________\n")

# 2. Method No 2
for data in myTuple:
  print(data)
print("____________________________________________\n")

# 3. Method No 3
for index in range(0,len(myTuple)):
  print(myTuple[index])
print("____________________________________________\n")

# 4. Method No 4
for index , data in enumerate(myTuple):
  print(index , " : " , data)
print("____________________________________________\n")

# 5. Method No 5 (List Comprehension)
[print(data) for data in myTuple]
print("____________________________________________\n")

# 6. Method No 6 (List Comprehension)
[print(index , " : " , data) for index , data in enumerate(myTuple)]
print("____________________________________________\n")

(1, 'usama', True, 'master class', 4)
____________________________________________

1
usama
True
master class
4
____________________________________________

1
usama
True
master class
4
____________________________________________

0  :  1
1  :  usama
2  :  True
3  :  master class
4  :  4
____________________________________________

1
usama
True
master class
4
____________________________________________

0  :  1
1  :  usama
2  :  True
3  :  master class
4  :  4
____________________________________________

In [ ]:
# Built-In Functions for the Tuple

# Display the Tuple
myTuple = (1 , "usama" , True , "master class" , 4 , 1)
print(myTuple)
print("____________________________________________\n")

# 1. count ( Returns the number of times a specified value appears in the tuple)
count = myTuple.count(1)
print(f"Here is the Count of 1 : {count}")
print("____________________________________________\n")

# 2. index ( Returns the index of the first occurrence of a specified value)
index = myTuple.index(4)
print(f"Here is the Index of 4 : {index}")
print("____________________________________________\n")



### These are built-in functions of Tuple, If you want to apply more buit-in function then convert the tuple into List and apply all
### built-in functions of List.

(1, 'usama', True, 'master class', 4, 1)
____________________________________________

Here is the Count of 1 : 3
____________________________________________

Here is the Index of 4 : 4
____________________________________________

**Set:**
A set in Python is used to store multiple items in a single variable. It is an unordered, unchangeable (immutable), and unindexed collection. Sets are created using curly brackets `{}` and do not allow duplicate elements.

`For more details, such as checking the syntax of set, feel free to explore the links provided below:`

https://www.w3schools.com/python/python_sets.asp `(Doc For the Set)`

https://docs.python.org/3/tutorial/datastructures.html#sets `(Doc For the Set)`

https://www.youtube.com/watch?v=MZZSMaEAC2g `(Youtube Video For the Set)`

In [ ]:
# 1. Creating the Set
mySet = {
    2 , 4 , 6 , "Usama Husnain" , True , False , "Master Class" , 10
}

# 2. Get the Length of the Set
print(f"Here is the Length of the Set : {len(mySet)}")
print("____________________________________________\n")

# 3. Cant Access the Data with the Help of Index

# 4. Cant Modifying the Element

Here is the Length of the Set : 8
____________________________________________

In [ ]:
# Displaying the Set with Different Different Methods

# 1. Method No 1
print(mySet)
print("____________________________________________\n")

# 2. Method No 2
for data in mySet:
  print(data)
print("____________________________________________\n")

# 3. Method No 5 (List Comprehension)
[print(data) for data in mySet]
print("____________________________________________\n")

{False, True, 2, 4, 'Usama Husnain', 6, 10, 'Master Class'}
____________________________________________

False
True
2
4
Usama Husnain
6
10
Master Class
____________________________________________

False
True
2
4
Usama Husnain
6
10
Master Class
____________________________________________

In [ ]:
# Built-In Functions for the Set

# Display the Set
mySet1 = {
    2 , 4 , 6 , "Usama Husnain" , True , False , "Master Class" , 10
}

mySet2 = {
  2 , 6 , "Usama Husnain" , True , "Data Science"
}

print(mySet1)
print(mySet2)
print("____________________________________________\n")

# 1. add ( Adds an element to the set)
mySet1.add("Data Science")
print(f"Here is the Data of Set after add the new Data : \n{mySet1}")
print("____________________________________________\n")

# 2. copy ( Returns a shallow copy of the set)
newSet = mySet1.copy()
print(f"Here is the copy of this Set : \n{newSet}")
print("____________________________________________\n")

# 3. differnce ( Returns a set containing elements that are in the set but not in the others)
diff = mySet1.difference(mySet2)
print(f"Here is the difference of this Set : \n{diff}")
print("____________________________________________\n")

# 4. difference_update ( Removes elements found in the other sets)
mySet1.difference_update(mySet2)
print(f"Here is the difference_update of this Set : \n{mySet1}")
print("____________________________________________\n")

# 5. remove ( Removes a specific element)
mySet1.remove(4)
print(f"Here is the Data of Set after remove the Data : \n{mySet1}")
print("____________________________________________\n")

# 6. union ( Returns a set with all elements from all sets)
print(mySet1)
print(mySet2)
union = mySet1.union(mySet2)
print(f"Here is the union of this Set : \n{union}")
print("____________________________________________\n")

# 7. update ( Updates the set with elements from all sets)
print(mySet1)
print(mySet2)
mySet1.update(mySet2)
print(f"Here is the update of this Set : \n{mySet1}")
print("____________________________________________\n")

{False, True, 2, 4, 'Usama Husnain', 6, 10, 'Master Class'}
{True, 2, 'Usama Husnain', 6, 'Data Science'}
____________________________________________

Here is the Data of Set after add the new Data :
{False, True, 2, 4, 'Usama Husnain', 6, 10, 'Master Class', 'Data Science'}
____________________________________________

Here is the copy of this Set :
{False, True, 2, 4, 'Usama Husnain', 6, 10, 'Master Class', 'Data Science'}
____________________________________________

Here is the difference of this Set :
{False, 10, 4, 'Master Class'}
____________________________________________

Here is the difference_update of this Set :
{False, 4, 10, 'Master Class'}
____________________________________________

Here is the Data of Set after remove the Data :
{False, 10, 'Master Class'}
____________________________________________

{False, 10, 'Master Class'}
{True, 2, 'Usama Husnain', 6, 'Data Science'}
Here is the union of this Set :
{False, True, 2, 'Usama Husnain', 6, 10, 'Master Class', 'Data Science'}
____________________________________________

{False, 10, 'Master Class'}
{True, 2, 'Usama Husnain', 6, 'Data Science'}
Here is the update of this Set :
{False, True, 2, 6, 'Usama Husnain', 10, 'Master Class', 'Data Science'}
____________________________________________